<a href="https://colab.research.google.com/github/WhiteBeyond/AI-16-02-23/blob/main/AI_16_2_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
'''
with open('text.txt', mode = 'w') as accounts:
  accounts.write('201462 Nguyen Huu Dan 8.0 \n')
  accounts.write('201462 Nguyen Van A 7.5 \n')
  accounts.write('201461 Nguyen Van B 7.5 \n')
  accounts.write('201461 Nguyen Van C 6.5 \n')
  accounts.write('201462 Nguyen Van D 6.0 \n')
  accounts.write('201461 Nguyen Van E 7.5 \n')
  accounts.write('201462 Nguyen Van F 8.5 \n')
  accounts.write('201461 Nguyen Van G 7.5 \n')
  accounts.write('201462 Nguyen Van H 8.0 \n')
  accounts.write('201461 Nguyen Van I 7.0 \n')
  accounts.write('201462 Nguyen Van J 7.5 \n')
  accounts.write('201461 Nguyen Van K 6.5 \n')
  accounts.write('201462 Nguyen Van L 7.5 \n')
  accounts.write('201461 Nguyen Van M 7.0 \n')
  accounts.write('201462 Nguyen Van N 8.5 \n')
  accounts.write('201462 Nguyen Van O 8.5 \n')
  accounts.write('201461 Nguyen Van P 7.5 \n')
  accounts.write('201461 Nguyen Van Q 6.5 \n')
  accounts.write('201461 Nguyen Van R 7.0 \n')
  accounts.write('201461 Nguyen Van S 8.5 \n')
  accounts.write('201461 Nguyen Van T 7.5 \n')
with open('text1.txt', mode = 'w') as accounts:
  print('2014642 Nguyen Van A 8.0 \n', file = accounts)

with open('text.txt', mode = 'r') as accounts:
  print(f'{"MSSV":<10}{"name":<20}{"score":>4}')
  for record in accounts:
    MSSV, name, score = record.split()
    print(f'{MSSV:10}{name:20}{score:4}')
'''
'''
dataframe[''].min()
dataframe[''].max()
dataframe[''].meant()
dataframe[''].sum()
dataframe[''].count()
dataframe[''].unique()
dataframe[''].value_counts()
dataframe.drop('', axis = 1).head() #xóa cột
dataframe.drop(['', ''], axis = 1).head() #xóa nhiều cột  
dataframe.drop(dataframe.columns[:], axis = 1).head() #xóa cột 
dataframe[dataframe[''] != ].head(10)
dataframe[dataframe.index != ].head(10)
dataframe.groupby('').head()
dataframe.groupby('').count()
dataframe.groupby(['', '']).head()
dataframe.groupby(['', '']).count())
'''

import pandas as pd
import numpy as np
url = 'book1.csv'
dataframe = pd.read_csv(url)
dataframe.head(10) #print 20 hàng
#dataframe.shape # print array
#dataframe.describe 
#dataframe.iloc[:]
#frame = dataframe.set_index(dataframe['Họ và tên'])
#frame.loc['Trần Minh Trần']
#dataframe[(dataframe['Khoa']=='CKM') & (dataframe['Khóa']==20) & (dataframe['Điểm']>5) ].head(10)
#dataframe[dataframe.index != 3 ].head(10)
time = pd.date_range('01/01/2023', periods=100000, freq='30s')
dataframe = pd.DataFrame(index=time)
dataframe['Acces Amount']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acces Amount
2023-01-01         14499
2023-01-08        101344
2023-01-15        101299
2023-01-22        100289
2023-01-29        100415
2023-02-05         82558

In [64]:
'''
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)

năm 
thành phố diễn ra thế vận hội
môn thể thao

tìm 1 nước 
tổng số huy chương 
bao nhiêu huy chương vàng
vân vân 
'''

import pandas as pd
import numpy as np
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.head(5)
#dataframe=pd.DataFrame(data)
print('Thông tin tổng quát')
year_list=data['Year'].unique() #list all years
year_count=data['Year'].nunique() #count number of year
country_NOC=data['NOC'].unique()  #list all NOC 
medal_total=data['Medal'].count() #total medal
gold_count=data['Medal'].value_counts()['Gold'] #sum gold medal
silver_count=data['Medal'].value_counts()['Silver'] #sum silver
bronze_count=data['Medal'].value_counts()['Bronze'] #sum bronze
sport_total=data['Sport'].nunique() #count sports
sport_list=data['Sport'].unique() #list of sports
print(f'National Olympic Committee (NOC):\n{country_NOC}') 
print(f'Só thế vận hội Olympic mùa đông đã diễn ra từ 1924 đến 2006: {year_count}')
print(f'Các năm diễn ra thế vận hội Olympic mùa đông:\n{year_list}')
print(f'Tổng số huy chương đã trao: {medal_total} \nHuy chương vàng: {gold_count} \nHuy chương bạc: {silver_count} \nHuy chương đồng: {bronze_count}')
print(f'Tổng số môn thể thao: {sport_total} bao gồm: {sport_list}')

Thông tin tổng quát
National Olympic Committee (NOC):
['AUT' 'BEL' 'CAN' 'FIN' 'FRA' 'GBR' 'NOR' 'SUI' 'SWE' 'USA' 'GER' 'TCH'
 'HUN' 'ITA' 'FRG' 'NED' 'EUA' 'JPN' 'POL' 'URS' 'PRK' 'GDR' 'ROU' 'ESP'
 'LIE' 'BUL' 'YUG' 'CHN' 'EUN' 'KOR' 'LUX' 'NZL' 'AUS' 'BLR' 'KAZ' 'RUS'
 'SLO' 'UKR' 'UZB' 'CZE' 'DEN' 'CRO' 'EST' 'LAT' 'SVK']
Só thế vận hội Olympic mùa đông đã diễn ra từ 1924 đến 2006: 20
Các năm diễn ra thế vận hội Olympic mùa đông:
[1924 1928 1932 1936 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984
 1988 1992 1994 1998 2002 2006]
Tổng số huy chương đã trao: 2311
Huy chương vàng: 774
Huy chương bạc: 773
Huy chương đồng: 764
Tổng số môn thể thao: 7 bao gồm: ['Skating' 'Bobsleigh' 'Ice Hockey' 'Biathlon' 'Skiing' 'Curling' 'Luge']

In [66]:

#filter
NOC_input=year_input=medal_input=city_input=sport_input=None
while not NOC_input: #bắt buộc phải có NOC
  NOC_input=input('\nBộ lọc theo National Olympic Committee (NOC):')
if NOC_input: 
  temp=data[data['NOC']==NOC_input]['City'].unique()
  print(f'Tên các thành phố {NOC_input} tham gia Olympic: \n{temp}')
  city_input=input('\nBộ lọc theo thành phố:')
year_input=input('\nBộ lọc theo năm (Year):')
medal_input=input('\nBộ lọc theo huy chương:')
sportl_input=input('\nBộ lọc theo môn thể thao:')
if year_input: year_input=int(year_input) #convert to INT
#filtered_data=data[(data['NOC']==NOC_input) & (data['Year']==year_input) & (data['Medal']==medal_input) & (data['City']==city_input) & (data['Sport']==sport_input) ]
filter = (data['NOC'] == NOC_input) if NOC_input else True
filter &= (data['Year'] == int(year_input)) if year_input else True
filter &= (data['Medal'] == medal_input.capitalize()) if medal_input else True
filter &= (data['City'] == city_input) if city_input else True
filter &= (data['Sport'] == sport_input) if sport_input else True
filtered_data= data[filter]
print(filtered_data)

Bộ lọc theo National Olympic Committee (NOC):USA
Tên các thành phố USA tham gia Olympic:
['Chamonix' 'St. Moritz' 'Lake Placid' 'Garmisch-Partenkirchen' 'Oslo'
 "Cortina d'Ampezzo" 'Squaw Valley' 'Innsbruck' 'Grenoble' 'Sapporo'
 'Sarajevo' 'Calgary' 'Albertville' 'Lillehammer' 'Nagano'
 'Salt Lake City' 'Turin']

Bộ lọc theo thành phố:Nagano

Bộ lọc theo năm (Year):

Bộ lọc theo huy chương:

Bộ lọc theo môn thể thao:
      Year    City       Sport      Discipline  NOC       Event Event gender  \
1812  1998  Nagano  Ice Hockey      Ice Hockey  USA  ice hockey            W
1813  1998  Nagano        Luge            Luge  USA     doubles            X
1814  1998  Nagano        Luge            Luge  USA     doubles            X
1815  1998  Nagano     Skating  Figure skating  USA  individual            W
1816  1998  Nagano     Skating  Figure skating  USA  individual            W
1817  1998  Nagano     Skating   Speed skating  USA       1000m            W
1818  1998  Nagano     Skating   Speed skating  USA       1500m            W
1819  1998  Nagano      Skiing   Alpine Skiing  USA     super-G            W
1820  1998  Nagano      Skiing  Freestyle Ski.  USA     aerials            M
1821  1998  Nagano      Skiing  Freestyle Ski.  USA     aerials            W
1822  1998  Nagano      Skiing  Freestyle Ski.  USA      moguls            M
1823  1998  Nagano      Skiing       Snowboard  USA   Half-pipe            M
1824  1998  Nagano      Skiing       Snowboard  USA   Half-pipe            W

       Medal
1812    Gold
1813  Bronze
1814  Silver
1815    Gold
1816  Silver
1817  Silver
1818  Bronze
1819    Gold
1820    Gold
1821    Gold
1822    Gold
1823  Bronze
1824  Bronze

In [70]:
if not medal_input:
  gold=filtered_data['Medal'].value_counts()['Gold']
  silver=filtered_data['Medal'].value_counts()['Silver']
  bronze=filtered_data['Medal'].value_counts()['Bronze']
  print(f'{NOC_input} đạt số huy chương: {gold} vàng, {silver} bạc, {bronze} đồng', end=' ')
else:
  medal=filtered_data['Medal'].value_counts()[medal_input]
  print(f'{NOC_input} đạt số huy chương {medal} {medal_input}', end=' ')
if city_input:
  print(f'tại thành phố {city_input}', end=' ')
elif  not city_input:
  city=filtered_data['City'].unique()
  print(f'\ntại các thành phố sau {city}')
if sport_input:
  print(f'ở môn thể thao {sport_input}', end=' ')
elif  not sport_input:
  sport=filtered_data['Sport'].unique()
  print(f'\ntrong những môn thể thao {sport}') 
if year_input or city_input:
  year=filtered_data['Year'].unique()
  print(f'ở năm {year}')
elif  not year_input:
  year=filtered_data['Year'].unique()
  print(f'\nở những năm {year}')

USA đạt số huy chương: 6 vàng, 3 bạc, 4 đồng tại thành phố Nagano
trong những môn thể thao ['Ice Hockey' 'Luge' 'Skating' 'Skiing']
ở năm [1998]